@use "../util" as u;

@media (max-width: 1199px) {

  .section .container {
    padding-top: u.em(70);
  }
  .aside {
    left: u.em(-270);
    opacity: .97;
  }
  .aside.open {
    left:0;
  }
  .aside .nav-toggler {
    display: flex;
    left: u.em(30);
    top: u.em(41);
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
  }

  .section.open {
    left: 270px;
  }

  .about .about-content .personal-info .inffo-item p span {
    display: block;
    margin-left: 0;
  }

  .section-title {
    margin-top: u.em(48);
  }

  .scroll-down {
  top: -9.7em;
  }

  .about .about-content .about-text h3 {
    margin-top: 1em;
  }

  .contact .contact-info-item {
    margin-bottom: u.em(70);
  }

  .sd2 {
    display: none;
  } 

  
/*   .hello {
    margin-bottom: 5px !important;
  }

  h3.my-profession {
    margin-top: -.1px;
  } */
}

@media (max-width: 991px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  /*   margin-top: 5em; */
  }

  .home .home-img {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .container .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .btn-2 {
    margin-top: 1em;
    display: block;
  }

  .typing {
    font-size: u.rem(12);
  }

  h3.hello {
    font-size: u.rem(20);
    margin: 0.9375em 0;
  }

  .fa-circle-nodes {
    font-size: u.rem(18);
    margin-inline: u.em(1);
  }
  

  h3.hello span {
    font-size: u.rem(20.5);
  }

  .style-switcher .style-switcher-toggler {
    top: 0;
    margin-right: 1.2em !important;
  }

  .aside .nav-toggler.open {
    left: 308px;
  }

  .style-switcher .day-night {
    top: 3.4375em;
    margin-top: -15px;
    margin-right: 1.2em !important;
  }

  .nav-toggler {
/*     margin-left: u.em(-11); */
    opacity: .8;
  }

  .scroll-down {
    top: -9.9em;
  }

  .aside .nav-toggler.open {
    display: none !important;
  }

  .style-switcher.open {
    transform: translateX(-8px) !important;
  }

  .name {
    font-size: u.rem(22);
  }

  .portfolio .portfolio-heading h2 {
  margin-bottom: u.em(16);
  }

  
/*   h3.hello {
    margin-bottom: -.3em;
  } */

  .btn {
  transition: .1s ease;
  }

  .btn:hover {
    transform: scale(1);
    opacity: 1;
  }

  .footer-portfolio {
    color: var(--text-black-700);
    position: absolute;
    padding-bottom: u.em(100);
  }
  
  #p-intro {
    font-size:u.rem(14);
  }
}

@media (max-width: 330px) {
h3.hello {
  margin-top: 3rem;
}
}